<div class="row" style="width:220px; left:20px; display: inline-block; margin-right: 20px;">
    <div class="col s12 m4" style="width:100%;">
        <div class="card">
            <div class="card-image">
                <img src="{{ image }}" alt="{{ image }}">
            </div>
            <div class=" card-action">
                <a href="/movie/{{id}}">{{title}} ({{year}})</a>
                <p>IMDb rating: {{rating}}</p>
            </div>
        </div>
    </div>
</div>