<h1>{{movie.title}} ({{movie.year}})</h1>
<p>{{movie.genre}}</p>
<p>IMDb Rating: {{movie.rating}}</p>



<form action="/movie/{{movie.id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete">
</form>

<form action="/">
    <input type="submit" value="Home">
</form>