<h1>{{list.title}}</h1>
<p>{{list.description}}</p>
<br>
<div class="container">
    {{#if list}}
    <div>
        {{#each list.movies}}
        <div>
            <p>Title: {{title}}</p>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

</div>
<a href="/list/{{list.id}}/movie/new"> Add Movie</a>
</div>



<form action="/list/{{list.id}}/edit">
    <p>
        <input type="submit" value="Edit List">
    </p>
</form>

<form action="/list/{{list.id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete">
</form>